body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:rgb(243, 248, 255);
    color: #333;
}

.container {
  max-width: 900px;
  margin: 24px auto;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  box-shadow: 0 0 12px rgba(0,0,0,0.05);
}

.sidebar {
  background-color: #144A74;
  border-radius: 24px;
  color: #fff;
  width: 30%;
  padding: 30px;
  text-align: left;
}

.sidebar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.sidebar p {
  font-size: 14px;
  margin: 8px 0;
}

.sidebar hr {
  border: 1px solid rgba(255,255,255,0.2);
  margin: 20px 0;
}

.main {
  width: 70%;
  padding: 30px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 18px;
  color: #144A74;
  margin-bottom: 4px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2px;
}

.job {
  margin-bottom: 12px;
}

.job-title {
  font-weight: bold;
  font-size: 16px;
  color:rgb(6, 21, 33);
}

.job-date {
  font-size: 12px;
  color: #999;
}

ul {
  padding-left: 24px;
  margin-top: 4px;
}

.label {
color: #fff;
font-weight: bold;
}


li {
  margin-bottom: 1px;
  font-size: 14px;
}

.skills span {
  display: inline-block;
  background: #ffffff;
  color: #144A74;
  padding: 4px 8px;
  border-radius: 12px;
  margin: 4px 4px 0 0;
  font-size: 12px;
}